__pycache__/
.venv/
.vscode/
.mls_cache/
.aegis_cache/
.beet_cache/
mecha.log
*.pyz
.env
*.vsix
.DS_Store
dist/
build/
testing/
node_modules/
aegis-jetbrains/build/
aegis-jetbrains/.gradle/
aegis-jetbrains/.intellijPlatform