{
    "release": {
        "branches": [
            "main"
        ]
    },
    "plugins": [
        "@semantic-release/commit-analyzer",
        "@semantic-release/release-notes-generator",
        [
            "semantic-release-vsce",
            {
                "packageVsix": true
            }
        ],
        [
          "semantic-release-python",
          {
            "srcDir": "../aegis-core",
            "distDir": "../aegis-core/dist",
            "installDeps": false
          }
        ],
        [
          "@semantic-release/github",
          {
            "assets": [
              {
                "path": "*.vsix"
              },
              "./aegis-core/pyproject.toml"
            ]
          }
        ]
    ]
}
